<div class="main">
  <div class="login-container">
    <img class="login-container-logo"
      src="https://www.instagram.com/static/images/web/mobile_nav_type_logo.png/735145cfe0a4.png" />
    <form class="login-container-form">
      <input type="text" class="login-container-form-input" placeholder="Username or email" [(ngModel)]="username">
      <input type="text" class="login-container-form-input" placeholder="Password" [(ngModel)]="password">
      <button class="login-container-form-button">Log In</button>
    </form>
    <div class="login-container-hror">
      <hr class="login-container-hror-hr" />
      <span class="login-container-hror-or">OR</span>
      <hr class="login-container-hror-hr" />
    </div>
    <div class="login-container-lwfacebook">
      <!-- <img class="login-container-lwfacebook-icon"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Facebook_f_logo_%282019%29.svg/1200px-Facebook_f_logo_%282019%29.svg.png" /> -->
      <span class="login-container-lwfacebook-link">Log in with Facebook</span>

    </div>
    <div class="login-container-forgotPass">Forgot password?</div>
  </div>

  <div class="secondary-container">
    <div class="secondary-container-text">Don't have an account?</div>
    <div class="secondary-container-link">Sign Up</div>
  </div>
</div>
